In [43]:
import pandas as pd
from pathlib import Path

In [37]:
actual_path = Path("/workspace/chunky-experiments/experiments/2025-06-22_19-25-13_7B_sen_len_4_opts/6_en_short_disease_de_long_city/validation_data/results_evaluated.jsonl")
baseline_path = Path("/workspace/chunky-experiments/baseline-output-qwen2-7b/results_evaluated.jsonl")
path = baseline_path
df = pd.read_json(path, lines=True)

In [44]:
df

,prompt,generated,exp_name,eval_en,eval_de,eval_disease,eval_city
0,It has been described,"It has been described as ""the most important e...",start_en,True,False,False,False
1,There is no,There is no way to know if you are pregnant be...,start_en,True,False,False,False
2,A common,A common problem in the field of machine learn...,start_en,True,False,False,False
3,First,First cycle degree courses Second cycledegree ...,start_en,True,False,False,True
4,In the year,"In the year 2010, the total population of the ...",start_en,True,False,False,False
...,...,...,...,...,...,...,...
195,Madrid,Madrid-based designer Sara Llorens has designe...,city,True,False,False,False
196,Porto,Porto Seguro has many natural attractions. Its...,city,True,False,False,True
197,Amsterdam,Amsterdam is the perfect combination of histor...,city,True,False,False,True
198,New York,New York Times bestselling author J. R. Ward b...,city,True,False,False,False
199,Paris,"Paris, France to Keflavik is an approximately ...",city,True,False,False,True

In [42]:
# find example where exp_name is eval_en and eval_en is False
# filter
small = df[df["exp_name"] == "start_en"]
small = small[small["eval_city"] == True]

# print the first 10 rows
small.iloc[2]["generated"]

"First-time users of the SDC can find a tutorial video here.\nThe St. Louis Data Center (SDC) is a web-based, interactive tool to provide information on public policy and social indicators at the zip code level. The SDC is part of the St. Louis Economic and Regional Data Center (SLERDC), which was established by the Missouri Department of Economic Development and the Federal Reserve Bank of St. Louis.\nSDC is a collaborative effort between the Federal Reserve Bank of St. Louis, the Missouri Department of Economic Development's Division of Workforce Development, the Metropolitan St. Louis Equal Employment Opportunity Commission, the St. Louis Regional Chamber, the United Way of Greater St. Louis and the St. Louis Economic and Regional Data Center.\nThe SDC is supported by the Economic Development Administration, U.S. Department of Commerce, and is based on data available through the American Community Survey, a program operated by the U.S. Census Bureau. The SDC provides data from 2000, 2005, 2010, and 2014.\nThe SDC allows users to view and compare data on demographic characteristics, employment, income, education, crime, housing, poverty, and health (from 200"

In [23]:
#group by exp name

cols = ["eval_en", "eval_de", "eval_city", "eval_disease"]

exp_names = df["exp_name"].unique()

for exp in exp_names:
    small = df[df["exp_name"] == exp]
    res = {}
    for col in cols:
        res[col] = small[col].mean().item()
    print(exp, res)

start_en {'eval_en': 0.98, 'eval_de': 0.0, 'eval_city': 0.26, 'eval_disease': 0.08}
start_de {'eval_en': 0.12, 'eval_de': 0.92, 'eval_city': 0.0, 'eval_disease': 0.06}
disease {'eval_en': 1.0, 'eval_de': 0.0, 'eval_city': 0.04, 'eval_disease': 0.84}
city {'eval_en': 0.96, 'eval_de': 0.04, 'eval_city': 0.38, 'eval_disease': 0.02}

         prompt                                                            \
          count unique                                                top
exp_name
city         50     10                                             London
disease      50     10                                           Cortisol
start_de     50      1  Es gibt keineIm JahrLiegt inErstmalsBekannt fü...
start_en     50      9                              In the yearLocated in

              generated         \
         freq     count unique
exp_name
city        9        50     45
disease     7        50     50
start_de   50        50     50
start_en    9        50     50

                                                                 eval_en  \
                                                        top freq   count
exp_name
city      New York City hat sich von der Insel Manhattan...    6      50
disease   E-coli can cause a variety of illnesses from d...    1      50
start_de  Es gibt keineIm JahrLiegt inErstmalsBekannt fü...    1      50
start_en  In the yearLocated in the Böhmisch-Mährischen ...    1      50

                 ... eval_de      eval_disease                    eval_city  \
         unique  ...     top freq        count unique    top freq     count
exp_name         ...
city          2  ...    True   48           50      2  False   48        50
disease       1  ...   False   50           50      2   True   47        50
start_de      2  ...    True   48           50      2  False   46        50
start_en      2  ...   False   41           50      2   True   35        50


         unique    top freq
exp_name
city          2   True   47
disease       2  False   49
start_de      2   True   41
start_en      2  False   41

[4 rows x 24 columns]